/* CSS Document */

.boder{ border-bottom:1px solid; border-bottom-color:#CCCCCC;
border-left:1px solid; border-left-color:#CCCCCC;
border-right:1px solid; border-right-color:#CCCCCC;
}

.boder2{
background:#F7F7F7;
border-bottom:1px solid; border-bottom-color:#E6E6E6; 
border-left: 1px solid; border-left-color:#E6E6E6; 
border-right: 1px solid; border-right-color:#E6E6E6; 
border-top: 1px solid; border-top-color:#E6E6E6; 

}

.topmenu {
	font-family:Arial, trebuchet ms, sans-serif, Verdana;
	font-size: 12px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	
	
}
.topmenu:hover {
	font-family:Arial, trebuchet ms, sans-serif, Verdana;
	font-size: 12px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	
	}
	
	
.rightmenu {
	font-family:Arial, trebuchet ms, sans-serif, Verdana;
	font-size: 12px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	}
	
.rightmenu:hover {
	font-family:Arial, trebuchet ms, sans-serif, Verdana;
	font-size: 12px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	}

	
	
	.link{
	font-family: trebuchet ms, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration:none;
	
	
	
}
.link:hover {
	font-family:trebuchet ms, sans-serif;
	font-size: 12px;
	color:#9F9F9F;
	text-decoration:none;
	
	}
	
	.link2{
	font-family:trebuchet ms, sans-serif;
	font-size: 12px;
	color: #008FAE;	
	text-decoration:underline;
	}
	
.link2:hover {
	font-family: trebuchet ms, sans-serif;
	font-size: 12px;
	color:#00A8CC;
	text-decoration:none;
	
	}
	

.text1{
font-family: trebuchet ms, sans-serif;
font-size:15px;
color:#000000;
font-weight:bold;
}

.text2{
font-family: trebuchet ms, sans-serif;
font-size:13px;
color:#000000;
font-weight:bold;
}

.normaltext{
font-family:trebuchet ms, sans-serif;
font-size:12px;
color:#000000;
font-weight:normal;
}

.text3{
font-family:trebuchet ms, sans-serif;
font-size:12px;
color:#1B62D6;
font-weight:bold;
}

.text4{
font-family:trebuchet ms, sans-serif;
font-size:15px;
color:#1B62D6;
font-weight:bold;
}

.text5{
font-family:trebuchet ms, sans-serif;
font-size:12px;
color:#666666;
font-weight:normal;
}

.text6{
font-family: trebuchet ms, sans-serif;
font-size:15px;
color:#76B25A;
font-weight:bold;
}

.text7{
font-family:trebuchet ms, sans-serif;
font-size:15px;
color:#D04566;
font-weight:bold;
text-decoration:none;
}

.text8{
font-family:trebuchet ms, sans-serif;
font-size:12px;
color:#666666;
font-weight:normal;
}

.red{
font-family:trebuchet ms, sans-serif;
font-size:12px;
color:#FF0000;
}


.tableC1{font-family: trebuchet ms, sans-serif;
 font-size:12px ;color: #0097B7; font-weight: bold; }

.tableC2{font-family: trebuchet ms, sans-serif;
 font-size:12px ;color: #D04566; font-weight: bold; }
 
 .tableC3{font-family: trebuchet ms, sans-serif;
 font-size:12px ;color: #00748C; font-weight: bold; }
 
 .tableC4{font-family: trebuchet ms, sans-serif;
 font-size:12px ;color: #00748C; font-weight: bold; }
 
 .info{font-family: trebuchet ms, sans-serif;
 font-size:12px ;color: #0097B7; font-weight: bold; }
 
 .button{ font-family:trebuchet ms, sans-serif; font-size:12px;
 
border-bottom:1px solid; border-bottom-color:#CCCCCC; 
border-left: 1px solid; border-left-color:#CCCCCC; 
border-right: 1px solid; border-right-color:#CCCCCC;
border-top: 1px solid; border-top-color:#CCCCCC;
background-color:#F7F7F7;
 
 }
 
.input{
font-family:trebuchet ms, sans-serif;
font-size:11px;
color:#000000; height:15px;
border:#B6B6B6;
border:1px solid;


}
.address{
font-family:trebuchet ms, sans-serif;
font-size:11px;
color:#000000; height:40px; width:95%;
border:#B6B6B6;
border:1px solid;

}

.line {
font-family:trebuchet ms, sans-serif;
font-size:20px;
color:#E0EEDB;

}
 
 #shadow-container {  
 font-family:trebuchet ms, sans-serif; 
    position: relative;   
    left: 3px;   
    top: 3px;   
    margin-right: 3px;   
    margin-bottom: 3px;  
	width:496px; 
}   
  
#shadow-container .shadow2,   
#shadow-container .shadow3,   
#shadow-container .container {   
    position: relative;   
    left: -1px;   
    top: -1px;  width:496px; 
}   
  
    #shadow-container .shadow1 {   
        background: #F1F0F1; width:496px; 
    }   
  
    #shadow-container .shadow2 {   
        background: #DBDADB; width:496px;  
    }   
  
    #shadow-container .shadow3 {   
        background: #B8B6B8; width:496px; 
    }   
  
    #shadow-container .container {   
        font-family:trebuchet ms, sans-serif; font-size:12px; color:#000000; font-weight:normal;
		background:#FFFFFF;   
        border: 1px solid #C7C7C7;   
        padding: 5px;   width:496px;
    }  
 
 
